body{
    padding: 0;
    margin: 0;
}

.container{
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    padding-bottom: 5rem;
    padding-top: 1rem;
    #imgContainer{
        width: 27rem;
        max-width: 100%;
        margin: auto;
        @media (max-width : 400px){
            width: 14rem;
            height: auto;
        }
        img{
            cursor: pointer;
            max-width: 100%;
            height: auto;
            @media (max-width : 400px){
                width: 14rem;
                height: auto;
            }
        }
    }
    #marqueeParent{
        position: fixed;
        bottom: 0px;
        width: 100%;
    }
    
}
.parent{
    width: 80%;
    margin: auto;
    position: relative;
    top: 2rem;
    text-align: center;
    #clear{
        position: absolute;
        transform: translate(28px,5px);
        cursor: pointer;
    }
    form{
        display: flex;
        justify-content: center;
        max-width: 100%;
    }
    input{
        padding: 6px 6px;
        font-size: 1.1rem;
        border: none;
        outline: none;
        background-color: rgba(128, 128, 128, 0.625);
        border-bottom: 1px solid grey;


    }
    button{
        font-size: 1.1rem;
        padding: 6px 7px;
        border: none;
        background-color: brown;
        color:white;
        cursor: pointer;
    } 
    #oops{
        display: none;
    }

    #resultContainer{
        display: grid;
        width: 100%;
        grid-template-columns: auto auto auto;
        grid-gap: 6px;
        margin-top: 1rem;
        text-align: center;
        @media (max-width : 840px){
            grid-template-columns: auto auto;
        }
        img{
            height: 250px;
            max-height: 100%;
            width: 398px;
            max-width: 100%;
            object-fit:cover;
            object-position:random($limit: 1);
            @media (max-width : 540px){
                width: 100%;
                height: auto;
            }
        }
        
    }
    h1{
        color: rgb(0, 0, 0);
        display: none;
    }
    #showMore{
        display: none;
        margin: auto;
        top: 2rem;
        position: relative;
    }
}
